<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .ContentBox {
        padding: 29px 29px 0;
        border: 0 darkgray solid;
        border-radius: 6px;
    }

    textarea {
        resize: none;
        height: 430px;
        width: 100%;
        border: none;
        background: white;
    }

    .comment-text {
        height: 100px;
    }
</style>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container ContentBox">
    <div>
        <div>
            <h1 th:text="${findPost.getPostTitle()}">글제목</h1>
            <h6 th:text="${findPost.getMember().name}">작성자</h6>
        </div>
        <div class="row">
            <span class="col" th:text="${findPost.getPostDate()}">작성일</span>
            <span class="col-1">조회수<span th:text="${findPost.getViewCount()}">조회수</span></span>
        </div>
        <hr class="my-3">
        <div>
            <textarea class="bg-white" aria-disabled="true" disabled th:text="${findPost.getPostContent()}"/>

            <p class="py-1" th:if="${!findPost.getUploadFiles().isEmpty()}">첨부파일</p>
            <a class="me-md-2" th:each="uploadFile : ${findPost.uploadFiles}" th:href="|@{/attach/{postId} (postId=${findPost.getId()}, storeFileName=${uploadFile.storeFileName})}|"
               th:text="${uploadFile.uploadFileName}"/>

        </div>
        <div class="comment">
            <h4 class="py-2">댓글</h4>
            <hr class="my-3">
            <div>
                <table class="table text-left">
                    <tbody>
                    <tr th:each="comment : ${comments}">
                        <th>
                            <h4 th:text="${comment.commentWriter}">작성자</h4>
                            <span class="fs-6 fw-normal" th:text="${comment.commentContent}">댓글내용</span>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form th:action="@{/board/{postId}/comment (postId=${findPost.id})}" th:object="${form}" method="post"
                  class="d-flex">
                <textarea th:field="*{commentContent}" class="form-control comment-text me-md-2"></textarea>
                <button class="btn btn-lg btn-outline-secondary">작성</button>
            </form>
        </div>
        <div class="my-3 col-sm-12 justify-content-end d-flex">
            <a class="btn btn-sm btn-outline-secondary me-md-2" th:if="${session.loginMember.id == findPost.member.id}" th:href="@{/board/{postId}/updatePost (postId=${findPost.id})}">수정</a>
            <a class="btn btn-sm btn-outline-secondary" th:href="@{/}">돌아가기</a>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>