<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>board</title>
</head>

<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<section class="py-5">
    <!-- 게시판 테이블 -->
    <div class="container px-4 px-lg-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <table class="table table-hover text-left col-lg-4">
                    <thead class="table-light">
                    <tr>
                        <th width="auto">#</th>
                        <th width="auto">제목</th>
                        <th width="auto">작성자</th>
                        <th width="auto">작성일</th>
                        <th width="auto">조회수</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}" >
                        <th width="auto" th:text="${post.id}">#</th>
                        <th th:onclick="|location.href='@{/board/{postId}/postView (postId=${post.id})}'|"
                            width="60% auto" style="cursor: pointer"><a th:text="${post.postTitle}">제목</a>
                            <span class="fst-normal" th:text="|[${post.getComments().size()}]|"></span> </th>
                        <th width="auto" th:text="${post.getMember().name}">작성자</th>
                        <th width="auto" th:text="${post.postDate}">작성일</th>
                        <th width="auto" th:text="${post.viewCount}">조회수</th>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
<!--                                <div class="col-sm-6">-->
<!--                                <form>-->
<!--                                <input type="text" placeholder="검색할 내용을 입력하세요">-->
<!--                                    <button class="btn btn-sm btn-outline-secondary">검색</button>-->
<!--                                </form>-->
<!--                                </div>-->
                    <div class="col-sm-12 justify-content-end d-flex">
                        <button class="btn btn-sm btn-outline-secondary"
                                th:onclick="|location.href='@{/board/newPost}'|">글작성
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!--푸터-->
<footer th:replace="fragments/footer :: footer"/>
</body>
</html>